* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  background-color: rgb(26, 23, 61);
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  position: fixed;
  width: 100%;
}
.logo {
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-transform: uppercase;
}
.logo span {
  color: rgb(255, 102, 14);
}
.nav-link {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.nav-link li {
  list-style: none;
}
.logo a {
  color: white;
  text-decoration: none;
}
.nav-link a {
  color: rgb(255, 253, 253);
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
  letter-spacing: 2px;
  padding: 20px;
}
.nav-link a:hover {
  color: rgb(255, 0, 0);
  /* background-color: rgb(124, 100, 100); */
  text-decoration: underline;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  background-color: rgb(26, 23, 61);
  max-width: 100%;
  margin: auto;
}
.left-banner {
  margin-left: 125px;
}
.left-banner h2 {
  color: white;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
hr {
  margin-left: 120px;
  width: 80px;
  height: 2px;
  border-radius: 25px;
  background-color: rgb(199, 47, 47);
  margin-bottom: 20px;
}
p {
  color: rgb(255, 102, 14);
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 200px;
}
p span {
  text-transform: uppercase;
  font-family: cursive;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}
.right-banner {
  padding-right: 120px;
}
.right-banner img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid rgb(247, 247, 247);
}
.Education-container {
  background-color: #eeeff3;
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 0px;
}
.content {
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  width: 60%;
  height: auto;
  box-shadow: 5px 5px 5px 10px rgb(207, 205, 205);
  max-width: 1100px;
  margin: 20px;
}

#Education hr {
  margin-left: 45%;
}
h3 {
  padding-top: 40px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: rgb(59, 57, 57);
}
#Education p {
  color: black;
  padding: 0% 5% 0% 2%;
}

#Education p span {
  color: rgb(0, 0, 0);
  margin-left: 5%;
}
#brief-bio hr {
  margin-left: 45%;
}
.footer-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: rgb(26, 23, 61);
}
#Education-par p {
  text-indent: 50px;
  color: #1a2238;
  padding: 10px 50px 50px 50px;
  font-size: 20px;
  line-height: 34px;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 400px;
}
.content p {
  text-indent: 50px;
  color: #1a2238;
  padding: 10px 50px 50px 50px;
  font-size: 20px;
  line-height: 34px;
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 400px;
}
h4 {
  color: rgb(216, 123, 69);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}
.toggle-btn {
  cursor: pointer;
  display: none;
}
.toggle-btn div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}
@media (max-width: 900px) {
  .left-banner h2 {
    font-size: 22px;
  }
  .left-banner hr {
    margin-left: 90px;
  }
  .right-banner {
    padding-right: 90px;
  }
}
@media (max-width: 840px) {
  .left-banner {
    margin-left: 100px;
  }
  .right-banner {
    padding-right: 30px;
  }
  #Education hr {
    margin-left: 40%;
  }
  #brief-bio hr {
    margin-left: 40%;
  }
}

@media (max-width: 670px) {
  body {
    overflow-x: hidden;
  }
  .left-banner {
    margin-left: 50px;
  }
  .nav-link {
    position: absolute;
    right: 0px;
    height: 80vh;
    width: 100%;
    top: 60px;
    background-color: rgb(172, 159, 159);
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: 0.5s ease-in;
  }
  .nav-link li a {
    font-size: 18px;
    padding: 80px;
  }
  .toggle-btn {
    display: block;
  }
  .right-banner {
    display: none;
  }
  #Education hr {
    margin-left: 40%;
  }
  #brief-bio hr {
    margin-left: 40%;
  }
}
@media (max-width: 355px) {
  .left-banner h2 {
    font-size: 16px;
  }
  hr {
    display: none;
  }
}
.nav-active {
  transform: translate(0%);
}
